'menu': [
  'label': 'Exploringly Find'
  'submenu': [
    { 'label': 'Find in Buffer', 'command': 'exploringly-find-and-replace:show'}
    { 'label': 'Replace in Buffer', 'command': 'exploringly-find-and-replace:show-replace'}
    { 'label': 'Select Next', 'command': 'exploringly-find-and-replace:select-next'}
    { 'label': 'Select All', 'command': 'exploringly-find-and-replace:select-all'}
    { 'label': 'Toggle Find in Buffer', 'command': 'exploringly-find-and-replace:toggle'}
    { 'type': 'separator' }
    { 'label': 'Find in Project', 'command': 'project-find:show'}
    { 'label': 'Toggle Find in Project', 'command': 'project-find:toggle'}
    { 'type': 'separator' }
    { 'label': 'Find All', 'command': 'exploringly-find-and-replace:find-all'}
    { 'label': 'Find Next', 'command': 'exploringly-find-and-replace:find-next'}
    { 'label': 'Find Previous', 'command': 'exploringly-find-and-replace:find-previous'}
    { 'label': 'Replace Next', 'command': 'exploringly-find-and-replace:replace-next'}
    { 'label': 'Replace Next And Find', 'command': 'exploringly-find-and-replace:replace-next-and-find'}
    { 'label': 'Replace All', 'command': 'exploringly-find-and-replace:replace-all'}
    { 'type': 'separator' }
    { 'label': 'Clear History', 'command': 'exploringly-find-and-replace:clear-history'}
    { 'type': 'separator' }
  ]
]

'context-menu':
  '.tree-view li.directory': [
    { 'label': 'Search in Directory', 'command': 'project-find:show-in-current-directory' }
  ]
  '.path-details.list-item': [
    { 'label': 'Copy Path', 'command': 'exploringly-find-and-replace:copy-path' }
  ]
